@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root {
    --dark: #000;
    --light: #fff;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    text-align: center;
    background-image: linear-gradient(to right, red , yellow);
}

h1 {
    letter-spacing: 1.1rem;
    text-transform: uppercase;
}